# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
# importing the pandas and the data as pandas df 

import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

In [2]:
#Renaming the ST and lowering the column names = replacing empty spaces with _ 

df.rename(columns={"ST":"state"}, inplace = True)
for column in df.columns: 
    df.rename(columns={column:column.lower().replace(" ", "_")}, inplace = True)

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [3]:
#correcting and unifying gender column : 

df['gender'] = df['gender'].replace({'Femal': 'F', 
                                     'female': 'F', 
                                     'Male': 'M'
                                    })
#fixing and unifing state names:

df['state'] = df['state'].replace({'AZ':'Arizona',
                                   'Cali':'California',
                                   'WA':'Washington'
                                  })
#fixing education column : 

df['education'] = df['education'].replace({'Bachelors' : 'Bachelor'})

#vehicle class as Luxury : 

df['vehicle_class'] = df['vehicle_class'].replace({'Sports Car': 'Luxury', 
                                                   'Luxury SUV': 'Luxury', 
                                                   'Luxury Car': 'Luxury'})
#replaced "%" with " "

df["customer_lifetime_value"] = df['customer_lifetime_value'].str.replace("%"," ")

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

In [4]:
#changing customer_lifetime_value to float 

df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)



def complaints_fix(current_number):
    
    
    """a function to fix the numeric valus of open complaints by using split """
    
    if pd.notna(current_number):   
            
        return int(current_number.split("/")[1])
    else:
        return None   
        
df['number_of_open_complaints']= df['number_of_open_complaints'].apply(complaints_fix)

df['number_of_open_complaints'].unique()

array([ 0.,  2.,  1.,  3.,  5.,  4., nan])

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

## Exercise 4: Dealing with Null values

It is important to note that this exercise does not involve handling null values (NaN or None).

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [42]:
# I have decided that filling non-numeric columns with previous one and filling numeric ones with the mean
#off the column is a better strategy to get cleaner results 

numeric_columns = df.select_dtypes(include=['float64']).columns.tolist()
object_columns = df.select_dtypes(include=['object']).columns.tolist()

for column in object_columns:
    df[column] = df[column].fillna(method="ffill")

for column in numeric_columns:
    df[column] = df[column].fillna(df[column].mean())

#now when checked, there's still one nan value in gender

df.gender[0] = "F"

#changing numberic values to int 
df[numeric_columns] = df[numeric_columns].astype(int)
df.dtypes

/var/folders/q1/bq_b0f_d53ldgrm4rh3vh1_40000gn/T/ipykernel_16068/2311057998.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.gender[0] = "F"

customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int64
income                        int64
monthly_premium_auto          int64
number_of_open_complaints     int64
policy_type                  object
vehicle_class                object
total_claim_amount            int64
dtype: object

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [41]:
# no duplicates 

df.drop_duplicates(inplace=True)
df.duplicated().sum()

df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,793690,0,1000,0,Personal Auto,Four-Door Car,2
1,QZ44356,Arizona,F,Bachelor,697953,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,California,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,536307,36357,68,0,Personal Auto,Four-Door Car,17

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [7]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [57]:
df.monthly_premium_auto.describe()
#25% top high policy claim amount
# 25% bottom customer_lifetime_value

count     1072.000000
mean       193.234142
std       1600.442673
min         61.000000
25%         68.000000
50%         83.000000
75%        110.000000
max      35354.000000
Name: monthly_premium_auto, dtype: float64

In [61]:
df.customer_lifetime_value.describe().round(2)

count       1072.00
mean      793689.77
std       642275.63
min       200435.00
25%       405404.50
50%       588834.00
75%       893766.75
max      5816655.00
Name: customer_lifetime_value, dtype: float64

In [67]:
filtered_df = df[(df['monthly_premium_auto'] > 68) & (df['customer_lifetime_value'] < 405404.50)].reset_index()
filtered_df.describe(include='all')

,index,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
count,162.000000,162,162,162,162,162.000000,162.000000,162.000000,162.000000,162,162,162.000000
unique,NaN,162,5,2,5,NaN,NaN,NaN,NaN,3,4,NaN
top,NaN,OE15005,California,M,Bachelor,NaN,NaN,NaN,NaN,Personal Auto,Four-Door Car,NaN
freq,NaN,1,59,81,54,NaN,NaN,NaN,NaN,110,103,NaN
mean,532.944444,NaN,NaN,NaN,NaN,318857.104938,35329.253086,163.049383,0.388889,NaN,NaN,379.030864
std,314.723486,NaN,NaN,NaN,NaN,49001.959478,30166.830915,706.771988,0.973245,NaN,NaN,249.802740
min,17.000000,NaN,NaN,NaN,NaN,231509.000000,0.000000,69.000000,0.000000,NaN,NaN,4.000000
25%,254.750000,NaN,NaN,NaN,NaN,278812.000000,0.000000,72.000000,0.000000,NaN,NaN,160.500000
50%,522.000000,NaN,NaN,NaN,NaN,310115.500000,31251.500000,81.000000,0.000000,NaN,NaN,381.500000
75%,813.500000,NaN,NaN,NaN,NaN,367619.750000,59979.500000,95.000000,0.000000,NaN,NaN,504.000000
max,1068.000000,NaN,NaN,NaN,NaN,403750.000000,98473.000000,6464.000000,5.000000,NaN,NaN,1185.000000